.cardPromt
    width: 100%
    h3
        font-size: 2.5vw
    .bodyPromt
        width: 80%
        margin: 5px 10%
        padding: 1vw
        border-radius: 10px
        background-color: #838282
        p
            font-size: 2vw
            background-color: #d1d1d1
    .imgPromt
        width: 90%
        margin: 0 auto
        border-radius: 10px
        img
            width: 100%
            border-radius: 10px
