
.cardsHome
    //width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 10px

@media screen and (max-width: 880px) 
.cardsHome


@media screen and (max-width: 880px) 
.cardsHome
    