<div class="viewTutorial">
    <app-nav-bar></app-nav-bar>
    <div class="tutorial">
        <h1 class="tituloTuto">Comienza a usar dall-e</h1>
        <div class="Pasos">
            <h2>
                1.- RapidAPI
            </h2>
            <img src="../../../assets/tutorial/IniciarSeccion.png" alt="">
            <p>Inicia seccion o registrate en RapidAPI, para conseguir la apiKey
                <a href="https://rapidapi.com/hub">https://rapidapi.com/hub</a>
            </p>
        </div>
        <hr>
        <div class="Pasos">
            <h2>
                2.- Ingresar a OpenAI
            </h2>
            <img src="../../../assets/tutorial/BuscarApi.png" alt="">
            <p>Deberas buscar openAi en la seccion de busqueda, y entra al primer resultado
            </p>
        </div>
        <hr>
        <div class="Pasos">
            <h2>
                3.- Activar api
            </h2>
            <img src="../../../assets/tutorial/Pricing.png" alt="">
            <p>
                Deberas seleccionar la pricing y subscribirte al plan basico, ya que este es el gratuito
            </p>
        </div>
        <hr>
        <div class="Pasos">
            <h2>
                4.- Consigue la apikey
            </h2>
            <img src="../../../assets/tutorial/apikey.png" alt="">
            <p>
                Regresa a la seccion de Endpoints, y deslizate hacia abajo para encontrar el Api-key y el Host
            </p>
        </div>
        <hr>
        <div class="Pasos">
            <h2>
                5.- Pasa a crear
            </h2>
            <img src="../../../assets/tutorial/apikey.png" alt="">
            <p>
                Teniendo el apiKey y el Host ya puedes comenzar a crear tus imagenes
                <a [routerLink]="['/crear']">Empieza a crear</a>
            </p>
        </div>
    </div>
    
</div>