<nav>
    <div class="imgNav">
        <img src="../../../assets/ChatGPT.svg" alt="">
    </div>
    <div class="enlacesNav">
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/tutorial']">About</a>
        <a [routerLink]="['/crear']">Crear</a>
        <div class="dropdown">
            <button class="dropbtn">Perfil
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a *ngIf="!logueado" [routerLink]="['/perfil']">Resgistrarse</a>
              <a *ngIf="!logueado" [routerLink]="['/perfil']">Iniciar</a>
              <a *ngIf="logueado!=null" [routerLink]="['/']" (click)="signOut()">Sign Out</a>
            </div>
          </div>
    </div>
</nav>